html {
    scroll-behavior: smooth;
}

.home{
    background-color: #000;
    color: #fff;
}

.hero-container {
    display: block;
}

.hero {
    display: flex;
    width: 99vw;
    justify-self: space-between;
    justify-content: space-around;
}

.hero-content {
    display: block; 
    padding: 10vh;
    align-self: center;

}

.hero-header {
    display: flex;
    align-items: center;
}

.hero-header img {
    width: 8vw;
}

.hero-header h1 {
    font-size: 4vh;
    color: #fff;
}

.hero-header p {
    font-size: 2vh;
    color: rgb(196, 196, 196);
}

.hero-image {
    padding: 4vh;
    align-self: center;
}

.hero-image img {
    width: 40vw;
}

@media screen and (max-width: 1100px){
    .hero {
        height: 70vh;
    }

    .hero-image img {
        width: 30vw;
    }
    .hero-content {
        display: block; 
        padding: 2vh;
    }
    .hero-header h1 {
        font-size: 2.5vh;
        color: #fff;
    }

    .hero-header p {
        font-size: 2vh;
    }
}

@media screen and (max-width: 740px){
    .hero-image {
        display: none;
    }

    .hero-header h1 {
        font-size: 2.5vh;
        color: #fff;
    }

    .hero-header p {
        font-size: 2vh;
    }

    .hero-header img {
        width: 7rem;
    }

    .down-move {
        display: none;
    }

    .hero-content {
        display: block; 
        padding: 2vh;
    }

    .hero-description a {
        text-align: center;
        align-items: center;
        margin: none;
    }
}

.hero-description p {
    font-size: 2vh;
    margin: 5vh;
    text-align: justify;
    color: rgb(196, 196, 196);
}

.hero-description a {
    margin: 5vh;
    background-color: #00979E;
    border: solid #00979E;
    font-size: 2vh;
    text-decoration: none;
    padding: 1vh 2.5vh 1vh 2.5vh;
    /* padding-left: ; */
    margin-top: 10rem;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.hero-description a:hover {
    background-color: #000;
    border: solid #00979E;
    border-radius: 5px;
}

.down-move {
    text-align: center;
    font-size: 2.5vh;
    animation: updown 2s ease infinite;
}

.down-link {
    text-align: center;
    border-radius: 90%;
    padding: 0.5rem;
    /* background-color: #656C73; */
    color: #656C73;
}

@keyframes updown {
    0%,100% {
        transform: translateY(0);
    }
  
    50% {
        transform: translateY(-20px);
    }
  }

.about {
    margin-top: 2rem;
    padding: 3rem;
    background-color: #000;
}

.about-title {
    color: white;
    font-size: 6vh;
    text-align: center;
}

.about-title::after {
    content: "";
    display: block; 
    margin: 0 auto; 
    width: 20%; 
    padding-top: 10px; 
    border-bottom: 4px solid #00979E;
}

.about-description {
    font-size: 3vh;
    border-radius: 58px;
    margin: 3rem;
    background-color: #1a1a1a;
    padding: 3rem;
}

.about-description p {
    color: var(--text-color-2);
    text-align: justify;
}

.team {
    margin-top: 2rem;
    padding: 3rem;
    background-color: #000;
}

.team-title {
    color: white;
    font-size: 6vh;
    text-align: center;
}

.team-title::after {
    content: "";
    display: block; 
    margin: 0 auto; 
    width: 20vw; 
    padding-top: 10px; 
    border-bottom: 4px solid #00979E;
}

.events {
    margin-top: 2rem;
    padding: 3rem;
    background-color: #000;
}

.events-title {
    color: white;
    font-size: 6vh;
    text-align: center;
}

.events-title::after {
    content: "";
    display: block; 
    margin: 0 auto; 
    width: 15vw; 
    padding-top: 10px; 
    border-bottom: 4px solid #00979E;
}