.blogsPage {
    max-width: 1400px;
    margin: auto;
}

.horizontalRule {
    height: 3px;
    width: 90%;
    background-color: var(--primary-light-color);
    margin: 50px auto;
}

.heading {
    font-size: 32px;
    color: var(--primary-text-color);
    text-align: center;
    margin: 50px auto;
}

.blogsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    width: 90%;
    margin: auto;
    gap: 30px;
}

.blogCard {
    position: relative;
    display: flex;
    align-items: center;
    height: 270px;
    width: 310px;
    padding-left: 15px;
    background: linear-gradient(to right, var(--primary-dark-color) 50%, transparent);
    border-radius: 7px;
    color: var(--primary-text-color);
    cursor: pointer;
    transition: all 200ms ease-in-out;
    overflow: hidden;
}

.verticalContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
}

.cardHeading {
    font-size: 32px;
    max-width: 80%;
    font-weight: bold;
}

.cardContent {
    font-size: 18px;
    max-width: fit-content;
    padding-right: 15px;
}

.cardImage {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: opacity 200ms ease-in-out;
    z-index: -10;
    opacity: 0.7;
}

.blogCard:hover .cardImage {
    opacity: 0;
}

.searchWrapper {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 50px auto;
    gap: 5px;
}

.searchWrapper * {
    display: inline-block;
    min-width: 200px;
    height: 30px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid var(--primary-light-color);
    color: var(--primary-text-color);
    background-color: var(--primary-dark-color);
    padding: 10px;
}

.searchInput {
    flex-grow: 1;
    flex-shrink: 1;
}

@media screen and (max-width: 810px) {
    .horizontalRule {
        display: none;
    }
    .searchWrapper * {
        border: 1px solid var(--primary-light-color);
    }
    .blogCard {
        height: 260px;
        width: 260px;
    }
    .cardHeading {
        font-size: 28px;
    }
    .cardContent {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .searchWrapper{
        width: 280px;
    }
    .dateInput {
        width: 100%;
    }
}

.blogImage {
    display: block;
    width: 100%;
    margin: auto;
    max-height: 500px;
}

.blogContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--primary-text-color);
    padding: 40px 60px;
    border-left: 2px solid var(--primary-light-color);
}

.blogHeading {
    font-size: 60px;
    margin-bottom: 5px;
    width: 400px;
}

.blogDate {
    font-size: 22px;
    color: var(--tertiary-text-color);
    margin: 20px 0 0;
}

.blogContent {
    font-size: 22px;
    color: var(--secondary-text-color);
    white-space: pre-wrap;
}